/******全局颜色变量在这个文件******/
//背景色
$sky-blue-color:#00B0EC;//主页 头部 搜索按钮的颜色
$sky-blue-active-color:#30BDED;

$sky-blue-color-opacity9:#19B7ED;
$sky-blue-color-opacity8:#30BDED;
$sky-blue-color-opacity2:#C2E5F1;
$sky-blue-color-opacity1:#DAEBF1;
$blue1-color:#019fe7;
$blue2-color:#0f87d6;
$blue3-color:#019ee8;
$blue4-color:#0b91db;
$blue5-color:#1780cd;

$blue6-color:#0086ec;
$blue7-color:#437af9;
$bg-white-color:#fff;

//灰色
$gray-border-color:#DCDFE6;

$gray-bg-hover-color2:#EEEFF0;
$gray-bg-hover-color3:#ECECEF;
//ECF5FF
//文字 颜色
$sky-blue-text-color:#00B0EC;
$text-white-color:#fff;
//边框
$gray1-color:#dcdfe6;
